*{
  font-family: 'Rajdhani', sans-serif;
  padding: 0px;
  margin: 0px;
}

footer{
  margin-top:20px;
}


h1{
  text-align: center;
}

p, span, label{
  font-size: 20px;
  margin-top: 10px;
}
.link-out{
  color:black;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95%;
  padding: 15px 0px; 
  border-width : 1px 0px;
  border-color: black;
  border-style: solid;

}

#results-container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

}
.error-container{
  max-width: 280px;
}

.map-container, .nasa-container, .secret-form-container{
  min-width: 0px;
  min-height: 200px;  
  margin:1% 1% 0% 1%;

}

.map-results, .nasa-results, .revealed-form{
  min-width: 300px;
  max-width: 500px;
  min-height: 650px;
  padding: 10px;
  transition-property:height;
  transition-timing-function: 2s;
  border: 1px solid black;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 5px;

}
.spacecraft-container{
  text-align: center;
  position: relative;
  display: inline block;
}
.satellite-img{
  width: 100%;
  max-width: 300px;
  height:auto;
  display:inline-block;
}

button#adjust-button{
  width:auto;
  margin: 5px;
  padding: 5px 20px;
  
}

button{
  width: 160px;
  padding: 10px 0px;
  font-size: 15px;
  border-radius: 0px;
  border-width: 0px;
  background-color: black;
  color: white;
  text-shadow: 0 0 10px white;
  transition: width 1s;
}

div.button-container .hover-button1{
  transition-duration: 1s;
  width:160px; 
  display: inline-block;
  text-align: center;
  margin: 5px  60px;
  background-image: linear-gradient(to right,
  rgba(255, 0 , 0 , 0),
  #0089ad, #008b8b, #2b8758, #697b25, 
  rgba(255, 0 , 0 , 0)
  );
}

div.button-container .hover-button2{
   transition-duration: 1s;
  width:160px; 
  display: inline-block;
  text-align: center;
  margin: 5px  60px;
  background-image: linear-gradient(to right,
 rgba(255, 0 , 0 , 0),
#697b25,#2b8758, #008b8b, #0089ad, 
 rgba(255, 0 , 0 , 0)
 );
}

.button-container button:hover{
width:200px;
transition: width 1s;
}

.button-container .hover-button2:hover{
  margin:5px 0px;
  width: 280px;
  transition-duration: 1s;
  transition-timing-function: linear;
 background-image: linear-gradient(to right,
 rgba(255, 0 , 0 , 0),
#697b25,#2b8758, #008b8b, #0089ad, 
 rgba(255, 0 , 0 , 0)
 );
}

 .button-container .hover-button1:hover{
   margin:5px 0px;
   width: 280px;
   transition-duration: 1s;
   transition-timing-function: linear; 
    background-image: linear-gradient(to right,
  rgba(255, 0 , 0 , 0),
  #0089ad, #008b8b, #2b8758, #697b25,
  rgba(255, 0 , 0 , 0)
  );
}

fieldset {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 0;
}
